*.d
*.o
*.pyc
*-timestamp
config*.mak
src/config-host.h
src/config.log
src/i386-softmmu
src/i386-linux-user
src/libqemu*.a
src/linux-headers/asm
src/pc-bios/optionrom/*.bin
src/pc-bios/optionrom/*.img
src/pc-bios/optionrom/*.raw
src/pixman/test/a1-trap-test
src/pixman/test/alphamap
src/qapi-types.*
src/qapi-visit.*
src/qemu-bridge-helper
src/qemu-ga
src/qemu-img
src/qemu-img-cmds.h
src/qemu-io
src/qemu-nbd
src/qemu-options.def
src/qtrace/libqtrace.so
src/qtrace/pb/syscall.pb.*
src/qtrace/tests/gtest_main.a
src/qtrace/tests/*_unittest
src/qga/qapi-generated
src/qmp-commands.h
src/qmp-marshal.c
src/trace/generated-events.*
src/trace/generated-tracers.*
tools/trace/syscall_pb2.py
